<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Attendance</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <div class="sidebar">

            <h2>Attendance System</h2>

                <a href="{{ url_for('main') }}">Dashboard</a>
                <a href="{{ url_for('employees') }}">Employees</a>
                <a href="{{ url_for('attendance') }}">Attendance</a>
                <a href="{{ url_for('clock_attendance') }}">Clock Attendance</a>
                <a href="#">Reports</a>

        </div>

        <div class="main-content">

            <h1>Attendance</h1>

            <table>

                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>

                <tbody>

                    {% for record in attendance_records %}

                    <tr>

                        <td>{{ record[0] }}</td>
                        <td>{{ record[1] }}</td>
                        <td>{{ record[2] }}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</body>
</html>